# Add any directories, files, or patterns you don't want to be tracked by version control
# =============== #
# Unity generated #
# =============== #
/Temp
/Library
/keystore
/Apk

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Bin/
sh.exe.stackdump


!*.dll
Assets/Scene/ooo.unity
Assets/Scene/ooo.unity.meta
Assets/Infinity Code/Online maps/Scripts/Interfaces.meta
Assets/Plugins/Parse.Unity/Parse.Unity.sln.meta
Assets/Plugins/Parse.Unity/Parse.Unity.userprefs.meta
Assets/Plugins/NativeToolkitWP8.pdb.meta
Assets/Plugins/Android/UnityShowAndroidStatusBar/bin.meta
Assets/Plugins/WP8/NativeToolkitWP8.pdb.meta
Assets/Scripts/Shader.meta